body{
    margin: 0;
    background: url(./background.jpg);
}

a{
    text-decoration: none;
}

/* 导航栏 */
/* #navbar和#bottom-nav都使用box-sizing: border-box把border算在总宽度里 */
#navbar{
    box-sizing: border-box;
    margin-top: 0.5%;
    margin-left: 15%;
    width: calc(100% - 2 * 15%);
    border: 1px solid #1a5cc8;
}

#navbar img{
    width: 100%;
}

.banner-up{
    background-color: #1a5cc8;
    display: grid;
    grid-template-columns: repeat(4,calc(100% / 4));
    margin: 1px 0;
}

.banner-up div{
    margin: 3px 0;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
}

.banner-down{
    display: grid;
    grid-template-columns: repeat(4,calc(100% / 4));
}

.banner-cols{
    display: grid;
    grid-template-rows: repeat(5,calc(100% / 5));
}

.banner-cols a,.left-links a,.right-links a{
    color: #1a5cc8;
    text-align: center;
    margin: 1px 0;
}

.banner-cols a:hover,.left-links a:hover,.right-links a:hover{
    color: orange;
}

.banner-cols a.bc{
    color: red;
    font-weight: bold;
}

sup.beta{
    color: gray;
    font-weight: bold;
}

marquee{
    margin-top: 1%;
    margin-left: 25%;
    width: calc(100% - 2 * 25%);
}

marquee strong{
    color: red;
}

/* 底部 */
#bottom-nav{
    box-sizing: border-box;
    margin-top: 10%;
    margin-left: 15%;
    padding: 10px 0;
    width: calc(100% - 2 * 15%);
    border: 1px solid #1a5cc8;
    display: grid;
    grid-template-columns: 1fr 66% 1fr;
}

#bottom-nav .left-links,#bottom-nav .right-links{
    margin: auto;
    font-weight: bold;
    color: #1a5cc8;
}

#bottom-nav .center-info{
    font-size: 1em;
    text-align: center;
}

.center-info a{
    color: #1a5cc8;
}

.center-info a:hover{
    color: orange;
}

#server-info{
    color: green;
}

/* 防止文字溢出 */
@media(max-width: 64em){
    html{
        font-size: 80%;
    }
    #navbar{
        margin-left: calc((100% - 90%) / 2);
        width: 90%;
    }
    #bottom-nav{
        margin-left: calc((100% - 90%) / 2);
        width: 90%;
    }
}

@media(max-width: 44.5em){
    html{
        font-size: 60%;
    }
    #navbar{
        margin-left: 0;
        width: auto;
    }
    #bottom-nav{
        margin-left: 0;
        width: auto;
    }
}